.contact-form .contact-icon {
    left: 25px;
    position: absolute;
    top: 9px;
    color: #444;
}

.contact-form .form-control {
    background: transparent;
    padding: 7px 10px 7px 30px;
    color: #444;
}

.form-control {
    color: #444;
    background: #f7f7f7;
    font-weight: 400;
    letter-spacing: 0px;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 27px;
    padding: 10px 20px;
    min-height: 25px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-form textarea {
    height: 155px;
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
    padding: 18px 18px;
    color: #444;
    margin-bottom: 35px;
    resize: vertical;
}

.btn {
    font-size: 14px;
    padding: 3px 27px;
}

.btn.btn-xlg {
    font-size: 22px;
    min-width: 233px;
    padding: 22px 27px;
    font-weight: 600;
}

.dropdown-item {
    padding: 10px 22px;
    font-size: 14px;
    width: 100%;
}

.top-menu ul li,.top-menu ul li i {
    color: #fff !important;
    font-size: 15px !important;
    margin-right: 10px;
    font-weight: 400;
}

.top-menu ul li.courses {
    color: #fff !important;
    font-size: 12px !important;
    margin-right: 10px;
    font-weight: 400;
}

.top-menu ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.top-menu ul.list-style li {
    margin-bottom: 2px;
    font-size: 14px;
    position: relative;
}

li.courses {
    line-height: 15px;
    letter-spacing: 0px;
}

.wrapper {
    padding-bottom: 0px;
}

#content {
    padding-bottom: 0px;
}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {

    text-align: left;
 
}

.table-hover-common tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.table-hover-common>tbody>tr>th, .table-hover-common>tfoot>tr>th, .table-hover-common>thead>tr>td, .table-hover-common>tbody>tr>td, .table-hover-common>tfoot>tr>td {
    padding: .75rem;
}


.navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    margin-right: 18px;
    font-weight: 600;
    padding: 18px 0px;
}

.post-img {
   max-width: 30%;
}

#carousel-area .carousel-item .carousel-caption h4 {
    color: #fff;
}

a.navbar-brand {
    color: #fff !important;
    font-size: 20px !important;
    line-height: 20px;
    font-weight: 700;
    padding: 5px 0px;
}

a.navbar-brand:hover {
    color: #f7f7f7 !important;
}
